.home_page {
  font-family: 'Raleway', sans-serif;
}

::selection {
  background: #000;
  color: #fff;
  font-weight: 400;
}

/* Navigation bar styles */

.nav_bar {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #d7d7d7;
  /* z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  float: left; */
  transition: top .5s;
}

.nav_logo {
  display: inline-block;
  float: left;
  background-image: url(../img/svg/logo.png);
  height: 80px;
  width: 280px;
  background-size: cover;
  margin-right: 50px;
}

.nav_links {
  height: 80px;
  float: left;
  overflow: hidden;
  max-width: 100%;
}

.nav_main {
  height: 80px;
  line-height: 80px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  margin: 0 12px;
  cursor: pointer;
  font-size: 13px;
}

.nav_main:hover {
  color: #0ab0bf;
}

.nav_buttons {
  float: right;
  height: 80px;
  padding-top: 20px;
  margin-right: -15px;
}

.search-container input {
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  height: 15px;
  padding: 10px;
  transition: width 2s;
  transition-timing-function: linear;
}

.search-container input:focus {
  width: 200px;
  background-color: #ccc;
}

.main-navigation {
  background-image: radial-gradient(circle at 50% 0, #0f3541, #030d10);
  text-align: center;
  /* margin-top: 80px; */
}

.main-navigation a {
  display: block;
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 17px;
  padding: 0 20px;
  display: inline-block;
}
.main-navigation a:hover,
.main-navigation a.active {
  text-decoration: underline;
}


.right {
  float: right;
}

/* Some Global styles */

.button {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 16px;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 4px;
  user-select: none;
}

.primary_button {
  color: white;
  background-color: #07bf00;
  border-color: #07bf00;
}

.primary_button:hover {
  color: white;
  background-color: #099404;
  border-color: #099404;
}

.default_button {
  color: #f7f7f7;
  background-color: #fbb03b;
  border-color: #fbb03b;
}

.default_button:hover {
  color: #f7f7f7;
  background-color: #e29927;
  border-color: #e29927;
}

a {
  text-decoration: none;
}

.section_top_bottom_spacing {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-gray {
  background-color: #efefef;
}

/* Banner Styles */

.banner_container {
  height: 100%;
  display: block;
}

.banner_background {
  background-image: url(../img/svg/biziness%20analytics%20home%20screen%20banner.svg);
  min-height: 100%;
  position: relative;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner_content {
  position: absolute;
  left: 0;
  top: 110px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.banner_content_container h1 {
  font-size: 72px;
  margin-bottom: 0;
}

.banner_content_container p {
  font-size: 24px;
  margin-top: 10px;
}

/* footer */

.footer {
  border-top: 1px solid #ccc;
}

.footer-col {
  width: 20%;
  float: left;
  padding-right: 20px;
}

.footer-links {
  margin-bottom: 30px;
  list-style: none;
  padding-left: 0;
}

.footer-links ul li {
  margin: 0 0 15px 0;
  line-height: 1.3;
}

.footer-links ul li a {
  text-decoration: none;
  color: #666666;
  font-size: 13px;
}

/* Partners */

.partners_container {
  text-align: center;
}

.partner_logos {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.partner_logos img {
  display: inline-block;
  height: 50px;
  margin-right: 50px;
  align-self: center;
}

/* about us  */

.about_background {
  background-image: url(../img/newspaper.jpg);
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_background .card {
  background: #FFFFFF;
  max-width: 500px;
  margin: 100px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 48px;
  text-align: center;
}

/* services */

.services_background {
  text-align: center;
}

.tiles {
  display: flex;
  align-content: space-around;
  margin-top: 50px;
}

.tile {
  display: block;
  position: relative;
  margin: 0 15px;
  flex-grow: 1;
  align-self: stretch;
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
}

.tile:hover {
  box-shadow: 5px 5px #ccc;
}

.tile span {
  display: block;
}

/* social */

.social_background {
  text-align: center;
}

.list-unstyled,
.list-inline {
  padding-left: 0;
  list-style: none;
}

.social-icons ul li {
  display: inline-block;
  font-size: 40px;
  margin-right: 10px;
  width: 60px;
}

.social-icons ul li a {
  color: #999999;
}

/* What we do */

.work_container {
  margin: auto;
  text-align: center;
}

.our-work-container li {
  text-align: left;
  padding: 10px 0;
  list-style: none;
}

.our-work-container li:before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #0f83a6;
  margin-right: 15px;
}

​ .what-we-do-title:after {
  content: '___';
  color: white;
  width: 62px;
  background: #0f83a6;
  display: block;
}

.solutions_container li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

.solutions_container .solution_title {
  margin-top: 10px;
}

.advantages_background .module img,
.solutions_container img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.advantages_container,
.solutions_container {
  text-align: center;
  background-color: #ede9e0;
}

.advantages_background {
  margin: auto;
}

/* about  */

.about_container {
  margin: auto;
  text-align: center;
}

.about_container p {
  line-height: 2;
}

/* footer */

.footer-container {
  background-image: radial-gradient(circle at 50% 0, #0f3541, #030d10);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 130px;
  padding: 0 100px;
}

.footer-container .left-container {
  color: #fff;
  width: 350px;
  display: inline-block;
  float: left;
}

.footer-container .right-container {
  display: inline-block;
  float: right;
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.footer-container a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 0 20px 0 0;
  display: inline-block;
}

.footer-container i {
  color: #fff;
}

.copyright_container {
  text-align: center;
  padding: 20px 0;
}

/* Testimonials Blockquotes */

.bq1 {
  position: relative;
  top: 3px;
  background-color: #f2f5f6;
  padding: 31px 34px 100px 0px;
  color: #626161;
  height: 100px;
  left: -55px;
}

.bq1 p {
  font-style: italic;
  margin-bottom: 11px;
}

.bq1 span {
  display: block;
  float: right;
  font-size: 16px;
  font-weight: 600;
}

blockquote,
q {
  quotes: none;
}

/* return to top video */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #444040;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 15px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

i {
  color: #444;
}

/* for desktop */

@media (min-width: 1200px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 1170px; */
  }
  .mobile-menu {
    display: none;
  }
  .mobile_hidden {
    display: block;
  }
  .tiles {
    display: flex;
  }
  .tile {
    margin-bottom: 0;
    width: 33%;
  }
  .work_container,
  .about_container,
  .solutions_list {
    width: 70%;
    margin: auto;
  }
  .advantages_background {
    padding: 0 50px;
  }
  /* sticky header & footer */
  .sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .sticky-header+main {
    padding-top: 60px;
  }
}

/* for mobile and tablet */

@media (max-width: 1024px) {
  main .main-navigation a {
    text-align: left;
    border-bottom: 1px solid #ccc;
    display: block;
  }
  .nav_bar {
    height: 40px;
  }
  .nav_logo {
    height: 40px;
    width: 150px;
  }
  .nav_main {
    height: 40px;
    line-height: 40px;
  }
  .search-container {
    display: none;
  }
  .mobile_hidden {
    display: none;
  }
  .fixed {
    position: fixed;
  }
  .tiles {
    display: block;
  }
  .tile {
    margin-bottom: 20px;
  }
  .work_container,
  .about_container,
  .solutions_list {
    margin: 0 20px;
  }
  .advantages_background {
    padding: 0;
  }
}

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  bottom: 20px;
  color: #d5122f;
  border: 0;
  background: none;
  z-index: 1;
  display: none;
}

.slick-prev {
  left: 20px;
}

.slick-prev:after {
  content: "< Previous";
  font-size: 20px;
}

.slick-next {
  right: 20px;
  text-align: right;
}

.slick-next:after {
  content: "Next >";
  font-size: 20px;
}

.slick-prev:hover:after,
.slick-next:hover:after {
  color: #7e7e7e;
}

/* ----- Services Page ----- */

.content-container-bg {
  padding: 40px 0;
  text-align: center;
}
.content-container-bg-1{
  background-color: #cbc2c266;
}

.content-container {
  width: 70%;
  padding: 30px;
  background: #FFF;
  margin: 40px auto;
}

.content-container.content-container-bg-1 {
  background-color: #696767;
  color: white;
}

.shadow-effect {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow-effect:before,
.shadow-effect:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.shadow-effect:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}


.content-image-container {
  width: 50%;
  display: inline-block;
}

.content-image-container img {
  vertical-align: middle;
  width: 100%;
}

.content-image-container.at-left img {
  border-right: 1px solid #ccc;
}
.content-image-container.at-right img {
  border-left: 1px solid #ccc;
}


.content-text-container {
  width: calc( 50% - 50px);
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
}
.hr-devider {
  border-top: 3px solid #00BCD4;
margin: 1em auto;
width: 30%;
}


.heading-devider {
  border-top: 3px solid #00BCD4;
  margin: 1em auto;
  width: 100px;
}

/* Casestudies page */

.card-casestudies {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border: 1px solid #d4d4d4;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

.card-casestudies:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-casestudies-container {
  padding: 2px 16px;
}

.card-casestudies a {
  color: #067381;
}
.card-casestudies a:hover {
  text-decoration: underline;
  color: #074850;
}

.casestudies_container{
  text-align: center;
}


.usecases_container{
  text-align: center;
}

.usecases_container .card-casestudies {
  width: 100%;
  margin: 0;
}

.usecases_container ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}
.usecases_container .image-container {
  width: 38%;
  display: inline-block;
  vertical-align: top;
  
}

.usecases_container .case-content-container {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}
.usecases_container .case-content-container.content-right {
  text-align: left;
}
.usecases_container .case-content-container.content-left {
  text-align: right;
}
.usecases_container .card-casestudies{
  margin-bottom: 30px;
}

/* contact-us page */

.contact-us-container .location-image {
  width: 200px;
    position: absolute;
    height: 200px;
    top: -110px;
    left: 20px;
}
.contact-us-container .card-casestudies {
  position: relative;
}
.contact-us-container .location-image img{
  width: 100%;
  border-radius: 50%;
  height: 100%;
}